<% layout("/layouts/boilerplate") %>
<body>
    <form method="post" action="/listings">
        <input name="title" placeholder="enter title" type="text">
        <br>
        <input name="description" placeholder="enter the description"  type="text">
        <br>
        <input name="image" placeholder="enter image URL/Link"  type="text">
        <br>
        <input name="price" placeholder="enter price" type="number">
        <br>
        <input name="location" placeholder="enter location" type="text">
        <br>
        <input name="country" placeholder="enter the country" type="text">
        <button>Add</button>
    </form>
</body>
