<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row mt-3">
    <div class="col-6 offset-2">
        <h3>Create a New listing</h3>

    <form method="post" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">

         <label for="title" class="form=label">Enter Title</label>
        <input name="title" placeholder="enter title" type="text" class="form-control" required>
           <div class="valid-feedback">
                  Looks good!
              </div>
        </div>
      
        <div class="mb-3">
              <label for="description" class="form=label">Description</label>
              <textarea name="description"  class="form-control" required></textarea>
                   <div class="invalid-feedback">
                    Please enter the short description
                      </div>
        </div>
       
        <div class="mb-3">
             <label for="image" class="form=label">Image Link</label>
              <input name="image" placeholder="enter image URL/Link"  type="text" class="form-control">
        </div>
 
        <div class="mb-3">
              <label for="price" class="form=label">Price</label>
              <input name="price" placeholder="Enter price"  type="number" class="form-control" required>
                     <div class="invalid-feedback">
                    Please enter the valid price
                       </div>
        </div>

        <div class="row">


          <div class="mb-3 col-4">
            <label for="country" class="form=label">Country</label>
              <input name="country" placeholder="enter the country" type="text" class="form-control" required>
                   <div class="invalid-feedback">
                      Country should valid
                     </div>
        </div>
       
      
        <div class="mb-3 col-8">
              <label for="location" class="form=label">Location</label>
               <input name="location" placeholder="enter location" type="text" class="form-control" required>
                 <div class="invalid-feedback">
                Location should be valid
                    </div>
        </div>
        </div>

       

       
       
        
        <button class="btn btn-dark add-btn">Add</button>

    </form>
    </div>
    </div>
</body>
