body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}
.container{
    flex: 1;
}

/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
  text-decoration: none;
  color: #222222;
}
.f-info-links:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
}
.f-info-socails{
    width: 100%;
    font-size: 1.7rem;
    margin-right: 5px;
}

.f-info{
    text-align: center;
    height: 7em;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;

}

/* card
 */

 .card{
    border: none !important;
    margin-bottom: 2 rem;

 }

 .card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover !important;
 }

 .card-body{
    padding: 0 !important;
 }

 .add-btn{
    border: none;
    margin-top: 6px;
 }


